
<form [formGroup]="eventoForm" (ngSubmit)="crearQuack()">
  <div *ngIf="error" id="error">
    <div   class="alert alert-danger" role="alert">
      <strong>Error!</strong> Hay errores en el formulario.
    </div>
  </div>
  <div *ngIf="noError">
    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> Evento agregado.
    </div>
  </div>
  <div class="form-group row" [ngClass]="{'has-danger': !eventoForm.get('nombre').valid}">
    <label>Nombre:</label>
    <input type="text"
           class="form-control"
           placeholder="Entra un nombre..."
           formControlName="nombre">
    <div *ngIf="eventoForm.get('nombre').errors?.required"
          class="form-control-feedback">
          este campo es requerido
    </div>
    <div *ngIf="eventoForm.get('nombre').errors?.minlength"
          class="form-control-feedback">
          Por lo menos {{eventoForm.get('nombre').errors.minLengths}} caracteres
    </div>
  </div>
  <div class="form-group row">
     <label>Descripcion:</label>
     <textarea type="text"
            class="form-control"
            placeholder="Entra una descripcion..."
            formControlName="descripcion"
            ></textarea>
  </div>
  <div class="form-group row">
     <label>Imagen:</label>
     <textarea type="text"
            class="form-control"
            placeholder="Entra url de una imagen..."
            formControlName="imagen"
            ></textarea>
  </div>
  <div class="form-group row">

    <label>Ubicacion:</label>
  </div>


  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker
    [latitude]="lat"
    [longitude]="lng"
    [markerDraggable]=true
    (dragEnd)="dragEndMarcador( this, $event )"
    >
  </agm-marker>
  </agm-map>

  <div class="form-group row">
  <label>Fecha:</label>
  <input
        type="date"
        class="form-control"
        formControlName="fecha"
        >

  </div>
  <div class="form-group row">
    <button type="submit" class="btn-outline-success btn-block">
      Crear Evento
    </button>
  </div>
</form>
