
<div class="container">
  <div class="row" *ngFor="let evento of eventos">
    <div class="col-sm-0 col-md-2"></div>
    <div class="pointer col-sm-12 col-md-8" [routerLink]="['/evento',evento._id]">
    <div *ngIf="evento">

    <div class="card mb-3">
      <img class="card-img-top" [src]="evento.imagen | imgDefaultPipe" alt="Imagen evento">
      <div class="card-block">
        <h4 class="card-title">Nombre: {{evento.nombre}}</h4>
        <a [routerLink]="['/usuario',evento.user._id]">@{{evento.user.nickname}}</a>
        <p class="card-text">Descripcion: {{evento.descripcion}}</p>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
</div>
