<!--<app-columna-navegacion [perfil]="perfil"></app-columna-navegacion>-->

<div class="container">
<div class="row">

<div class="col-md-4">

  <div class="card">
    <img class="card-img-top fotoPerfilBarraIzquierda" [src]="usuario.imagen | imgDefaultPipe" alt="Card image cap">
    <div class="card-block text-md-center">
      <input name="nickname" id="inputNickname" class="text-lg-center" style="border:none" type="text" [value]="usuario.nickname" readonly>
    </div>
  </div>
<ul class="list-group" id="columnaNavegacionPerfil">
  <small>Perfil</small>
  <li class="list-group-item justify-content-between pointer" routerLinkActive="active" [routerLink]="['mi-perfil']">
    Mi Perfil
  </li>
   <small>Eventos</small>
   <li class="list-group-item justify-content-between pointer" routerLinkActive="active" [routerLink]="['evento-form']">
     Crear Eventos

   </li>
  <li class="list-group-item justify-content-between pointer" routerLinkActive="active" [routerLink]="['eventos-creados']">
    Eventos Creados.

  </li>
  <li class="list-group-item justify-content-between pointer" routerLinkActive="active" [routerLink]="['eventos-no-creados']">
    Eventos No Creados.
  </li>
</ul>
</div>
<div class="col-md-8">

  <router-outlet></router-outlet>

</div>
</div>
</div>
